@@model List<VetPet.Models.ProductoEntity>

<div class="elementor__user-back ">
    <div class="content__user-back col-lg-10">
        <a asp-action="Index" class="p-m-in">
            <i class="fa-solid fa-chevron-left"></i>
            <span>Regresar</span>
        </a>
    </div>
</div>

<div class="content__item col-lg-10">
    <section class="section__item">
        <h1 class="title-lg">Información de Producto</h1>
        <div class="elementor-divider-item"></div>
    </section>
</div>

<div class="container__information-item">
    <div class="content__information-item col-lg-10">
        <div class="information-item__img">
            <img src="~/img/@Model.Imagen" alt="Imagen del Producto" />
        </div>
        <div class="information-item__details">
            <span class="p-l-in">Marca: @Model.Marca.Descripcion</span>
            <h1 class="title-lg">@Model.Nonbre</h1>
            <span class="p-m-lg">SKU: @Model.SKU</span>
            <div class="item-description">
                <span class="p-m-lg">Descripción</span>
                <div class="elementor-divider-item"></div>
                <p class="p-in">@Model.DescripcionProd</p>
            </div>
            <div class="item-description">
                <span class="p-m-lg">Caracteristicas</span>
                <div class="elementor-divider-item"></div>
                <p class="p-in">@Model.CaracteristicasProd</p>
            </div>
            <span class="p-m-lg">Categoria: @Model.Categoria.Descripcion</span><br />
            <span class="p-m-lg">Tipo de Animal: @Model.TipoAnimal.Descripcion</span><br />
            <span class="p-m-lg">Stock Disponible: @Model.Stock</span>
            <div class="item-price">
                <span class="title-sm">Precio Online</span>
                <span class="title-sm">S/.@Model.Precio</span>
            </div>
        </div>
    </div>
</div>