@model List<VetPet.Models.MedicoEntity>

@{
    ViewData["Title"] = "Mantenimiento de Medicos";
}

<h2 class="titulo">Mantenimiento de Medicos</h2>

<div class="crearnuevo">
    <a asp-controller="Medico" asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</div>

<div class="table-container">
    <div class="table-responsive">
        <table id="medicoTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Numero de Documento</th>
                    <th>Tipo de Documento</th>
                    <th>Sede Clinica</th>
                    <th>Genero</th>
                    <th>Estado Civil</th>
                    <th>Especialidad</th>
                    <th>Telefono1</th>
                    <th>Telefono2</th>
                    <th>Direccion</th>
                    <th>Descripcion Profesional</th>
                    <th>Correo</th>
                    <th>Contrasena</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var medico in Model)
                {
                    <tr>
                        <td>@medico.Id</td>
                        <td>
                            <img src="~/img/@medico.Imagen" alt="Imagen del Medico" style="max-width: 100px; max-height: 100px" />
                        </td>
                        <td>@medico.Nombre</td>
                        <td>@medico.Apellido</td>
                        <td>@medico.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                        <td>@medico.NumeroDocumento</td>
                        <td>@medico.TipoDocumento?.Descripcion</td>
                        <td>@medico.SedeClinica?.Nombre</td>
                        <td>@medico.Genero?.Descripcion</td>
                        <td>@medico.EstadoCivil?.Descripcion</td>
                        <td>@medico.Especialidad?.Descripcion</td>
                        <td>@medico.Telefono1</td>
                        <td>@medico.Telefono2?</td>
                        <td>@medico.Direccion</td>
                        <td>@medico.DescripProfesional</td>
                        <td>@medico.Correo</td>
                        <td>@medico.Contrasena</td>
                        <td>
                            <a asp-controller="Medico" asp-action="Edit" asp-route-id="@medico.Id" class="btn btn-info btn-sm crud-button">Editar</a>
                        </td>
                        <td>
                            <a asp-controller="Medico" asp-action="Delete" asp-route-id="@medico.Id" class="btn btn-danger btn-sm crud-button">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <!-- Agrega estos scripts para DataTables (asegúrate de incluir las bibliotecas jQuery y DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

    <script>
        // Inicializa DataTable sin búsqueda y paginación
        $(document).ready(function () {
            $('#medicoTable').DataTable({
                searching: false,
                paging: false
            });
        });
    </script>
}
